



<%= form_for(@appoint) do |f| %>
<%= f.label :Client %> :       
 <%= f.collection_select(:client_id, Client.all, :id , :name) %>
 <%= f.label :Barber %> :       
 <%= f.collection_select(:barber_id, Barber.all, :id , :name) %>
 <%= f.label :time %> : 
 <%= f.number_field :time , in: 1..7 %> : 

 <%= f.label :style %> : 
 <%= f.text_field :style %> : 

 <%= f.submit "Book Appt" %>
<% end %>


<p>
    <%= button_to Home , '/appoints', method: :get %>
</p>
<% if flash[:error]
        flash[:error].each do |error| %>
            <%= error %>
            <% end %>
<% end %>

    
  