<h1>This is the <%= @barber.name %>'s' Show Page</h1>



<p>
Name:

<%= @barber.name %>
</p>

<p>

Gender:
<%= @barber.specialty %>
</p>

<p>

Style: 

<%= @barber.location %>

</p>


<%= button_to "edit", edit_barber_path(@barber), method: :get %>

<%= button_to "Delete", @barber, method: :delete %>

<br>
<h3>Book your next appointment with <%= @barber.name %></h3>
    <%= render 'appoints/form' %>
<br>

<h3>Here are your up coming appointments</h3>

<% @barber.appoints.each do |appoint| %>

<p>
    <%= link_to appoint.client.name, appoint.client  %>   <%=appoint.time %>PM
</p>

<p>
    <%= @barber.location  %>
</p>
<% end %>